@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Thin.ttf");
    font-weight: 100;
  }
  @font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/Roboto-Regular.ttf");
    font-weight: 300;
  }


* {
    box-sizing: border-box;
    border: 1px solid red;
  }


  body{
    
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #4d2323;
  }


  .container {
    max-width: 1440px;
    margin: 0 auto;
  }


  .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    
  }

  /* .nav-link:hover {
    transition: .3s;
    color: blue;
    text-decoration: none;
  } */

  html {
    scroll-behavior: smooth; 
  }


.nav-item a {
  color: #829985;
  text-decoration: none;  
  transition: color 0.5s;
  position: relative;
  padding-left: 30px;
}
.nav-item a:hover {
  color: #4d2323;
}


  

.main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  }

  .section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829985;
  }

  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }